.image-captions-figure {
    margin: 0;
    padding: 2px;
    display: table; /* To allow for correct caption text wrapping */
    border-radius: 2px;
}

.image-captions-caption {
	display: table-caption;
	caption-side: bottom;
	margin: 0.2rem 1rem 1rem 1rem;
    font-size: 90%;
    line-height: 1.4;
    color: var(--text-faint);
}
